# String

In [15]:
s='Hello World'
print(f's[2:] = {s[2:]}\n')

print(f's[:3] = {s[:3]}\n')

print(f's[-1] = {s[-1]}\n')

print(f's[-2] = {s[-2]}\n')

print(f's[-3:]= {s[-3:]}\n')

print(f's[:-3]= {s[:-3]}\n')

print(f's[:]  = {s[:]}\n') # everything

print(f's[::1]= {s[::1]}\n') # Grab everything, but go in steps size of 1

print(f's[::2]= {s[::2]}\n') # Grab everything, but go in steps size of 2

print(f's[::-1]={s[::-1]}\n') # We can use this to print a string backwards

s[2:] = llo World

s[:3] = Hel

s[-1] = d

s[-2] = l

s[-3:]= rld

s[:-3]= Hello Wo

s[:]  = Hello World

s[::1]= Hello World

s[::2]= HloWrd

s[::-1]=dlroW olleH

### String Properties
It's important to note that strings have an important property known as **immutability**. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [17]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [18]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [16]:
s='Hello World'

# We can reassign s completely though!
s = s + ' concatenate me!'

print(s)

Hello World concatenate me!

In [23]:
# We can use the multiplication symbol to create repetition!
letter = 'z'
letter*10

'zzzzzzzzzz'

In [17]:
s[1]*5 + 'abcd'*2 + s[4]*3

'eeeeeabcdabcdooo'

**The values that are genarated from .upper(), .lower(), .capitalize(), .split() can be assigned in the variables**

In [18]:
s='hello world concatenate me!'

print(f's.upper() = {s.upper()}\n') # Upper Case a string
print(f's.lower() = {s.lower()}\n') # lower Case a string
print(f's.capitalize() = {s.capitalize()}\n') # capitalize the first letter only

print(f's.split() = {s.split()}\n') # Split a string by blank space (this is the default)
print(f"s.split('w') = {s.split('w')}\n") # Split by a specific element (doesn't include the element that was split on)
print(f"s.split('e') = {s.split('e')}\n")

s.upper() = HELLO WORLD CONCATENATE ME!

s.lower() = hello world concatenate me!

s.capitalize() = Hello world concatenate me!

s.split() = ['hello', 'world', 'concatenate', 'me!']

s.split('w') = ['hello ', 'orld concatenate me!']

s.split('e') = ['h', 'llo world concat', 'nat', ' m', '!']

----------------

# Print

In [39]:
name = 'Fred'

print(f"He said his name is {name}.")
print(f"He said his name is {name!r}.") # Pass `!r` to get the string representation

He said his name is Fred.
He said his name is 'Fred'.

In [40]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num)) # Using 'Format'
print(f"My 10 character, four decimal number is:{num:10.4f}") # Using 'Formatted String Literals (f-strings)'

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

In [42]:
# Using 'Format'
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

print('\n')

#Using "Formatted String Literals (f-strings)"
print(f"{'Fruit':8} | {'Quantity':9}")
print(f"{'Apples':8} | {3.:9}")
print(f"{'Oranges':8} | {10:9}")

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10


Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [43]:
# Using 'Format'
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

print('\n')

#Using "Formatted String Literals (f-strings)"
print(f"{'Left':<8} | {'Center':^8} | {'Right':>8}")
print(f"{11:<8} | {22:^8} | {33:>8}")

Left     |  Center  |    Right
11       |    22    |       33


Left     |  Center  |    Right
11       |    22    |       33

-----------------

# List
------------------------------

In [50]:
# All "List" Operations are similar "String" operations

my_list = ['one','two','three',4,5]

print(f"my_list[0] = {my_list[0]!r}\n") # Grab element at index 0

print(f"my_list[1:] = {my_list[1:]}\n") # Grab index 1 and everything past it

print(f"my_list[:3] = {my_list[:3]}\n") # Grab everything UP TO index 3

print(f"my_list[::-1] = {my_list[::-1]}\n") #  print backwards

print(f"my_list[::2] = {my_list[::2]}\n") #  Grab everything, but go in steps size of 2

my_list[0] = 'one'

my_list[1:] = ['two', 'three', 4, 5]

my_list[:3] = ['one', 'two', 'three']

my_list[::-1] = [5, 4, 'three', 'two', 'one']

my_list[::2] = ['one', 'three', 5]

In [58]:
my_list[0]*2 + 'abcd'*2 + my_list[3]

TypeError: can only concatenate str (not "int") to str

In [57]:
my_list[0]*2 + 'abcd'*2

'oneoneabcdabcd'

In [61]:
my_list[0] + ['abcd']

TypeError: can only concatenate str (not "list") to str

In [64]:
my_list + ['abcd',34,'fhthtjyt']

['one', 'two', 'three', 4, 5, 'abcd', 34, 'fhthtjyt']

In [65]:
my_list*2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

**'append()', 'pop()' cannot be used in "String" operation**

In [74]:
my_list = ['one','two','three',4,5]
my_list.append('append me!')
                               # my_list = my_list.append('append me!') ***Not acceptable
my_list

['one', 'two', 'three', 4, 5, 'append me!']

In [80]:
my_list = ['one','two','three',4,5]
my_list.pop(0) # Pop off the 0 indexed item

'one'

In [86]:
my_list = ['one','two','three',4,5]

# Assign the popped element, remember default popped index is -1
popped_item = my_list.pop()  
                            # Assign the 'pop()' value in a variable/object is POSSIBLE, but for 'append()'--Not Possible
print(popped_item)
print(my_list)

5
['one', 'two', 'three', 4]

In [87]:
new_list = ['a','e','x','b','c']

new_list.reverse() # Use reverse to reverse order (this is permanent!)
new_list

['c', 'b', 'x', 'e', 'a']

In [4]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]

print(f'matrix = {matrix}\n') # Make a list of lists to form a matrix
print(f'matrix[0] = {matrix[0]}\n') # Grab first item in matrix object
print(f'matrix[0][0] = {matrix[0][0]}\n') # Grab first item of the first item in the matrix object
print(f'matrix[2][1] = {matrix[2][1]}')

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix[0] = [1, 2, 3]

matrix[0][0] = 1

matrix[2][1] = 8

In [12]:
[row for row in matrix]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
#Build a list comprehension by deconstructing a for loop within a []
[row[0] for row in matrix]

[1, 4, 7]

---------------------

#  Dictionaries
--------------------------------------------
**Please see the 'Notebook' file named "SB_Dictionaries"

#  Tuples
--------------------------------------------
**Please see the 'Notebook' file named "SB_Tuples"

# Sets
---------------------------

**Sets are a collection of *`unique`* elements.**

In [26]:
list1 = ['one',1,1,'6',6,'one',2,2,3,4,5,6,1,1]
set(list1)

{1, 2, 3, 4, 5, 6, '6', 'one'}

In [27]:
list2=[3,2,1]
set(list2)

{1, 2, 3}

In [31]:
# Contructing a Set
x = set()
x.add(1)
x.add('one') # Add multiple in a statement NOT possible. Example: x.add('one',2,'hello') >>> NOT possible
x

{1, 'one'}

#  for Loops
--------------------------------------------
**Please see the 'Notebook' file named "SB_for Loops"

# break, continue, pass
--------------------------------------------

**We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.

#  Methods
----------------
Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

## Returning Tuples for Unpacking
-----------

In [3]:
stock_prices = [('AAPL',200),('GOOG',300),('MSFT',400)]
for stock,price in stock_prices:
    print(stock)
    print(price)

AAPL
200
GOOG
300
MSFT
400

# Functions
-------------
## Interactions between functions
Functions often use results from other functions, let's see a simple example through a guessing game. There will be 3 positions in the list, one of which is an 'O', a function will shuffle the list, another will take a player's guess, and finally another will check to see if it is correct. This is based on the classic carnival game of guessing which cup a red ball is under.

In [7]:
def shuffle_list(mylist):
    # Take in list, and returned shuffle versioned
    shuffle(mylist)
    
    return mylist

In [8]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        
        # Recall input() returns a string
        guess = input("Pick a number: 0, 1, or 2:  ")
    
    return int(guess)

In [10]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct Guess!')
    else:
        print('Wrong! Better luck next time')
        print(mylist)

In [13]:
from random import shuffle

# Initial List
mylist = [' ','O',' ']

# Shuffle It
mixedup_list = shuffle_list(mylist)

# Get User's Guess
guess = player_guess()

# Check User's Guess
#------------------------
# Notice how this function takes in the input 
# based on the output of other functions!
check_guess(mixedup_list,guess)

Pick a number: 0, 1, or 2:  3
Pick a number: 0, 1, or 2:  2
Correct Guess!

##  `*args` and `**kwargs`
--------------------------------------------
**Please see the 'Notebook' file named "SB_args_kwargs"

##  Map, Filter Functions, Lambda Expression
--------------------------------------------
**Please see the 'Notebook' file named "SB_Map-Filter-Function_Lambda-Expressions"

## ***Look the problems in 'SB_Function Practice Excercises'*

##  Nested Statements and Scope
--------------------------------------------
**Please see the 'Video Tutorial' and 'Notebook' file named "SB_Nested Statements and Scope"